<p id="notice"><%= notice %></p>

<h1>Consultants</h1>

<table>
  <thead>
    <tr>
      <th width="25%">Team</th>
      <th width="50%">Name</th>
      <th width="25%" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <%
    @consultants.each do |consultant|
      tr_class = ""
      if consultant.is_active == 'inactive'
        tr_class = "table-warning"
      end      
    %>
      <tr class="<%= tr_class %>">
        <td><%= consultant.team.team %></td>
        <td><%= consultant.name %></td>
        <td><%= link_to "<i class='fas fa-eye'></i> Show".html_safe, consultant, class: "btn btn-info" %></td>
        <td><%= link_to "<i class='fas fa-edit'></i> Edit".html_safe, edit_consultant_path(consultant), class: "btn btn-warning" %></td>
        <td><%= link_to "<i class='fas fa-trash-alt'></i> Delete".html_safe, consultant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "<i class='fas fa-plus'></i> New Consultant".html_safe, new_consultant_path, class: "btn btn-block btn-success" %>
