<%= form_with(model: vacation) do |form| %>
  <% if vacation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vacation.errors.count, "error") %> prohibited this vacation from being saved:</h2>

      <ul>
        <% vacation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :day_id %>
    <%= form.collection_select :day_id, @days, :id, :date_str %>
  </div>

  <div class="field">
    <%= form.label :consultant_id %>
    <%= form.collection_select :consultant_id, @consultants, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :reason_id %>
    <%= form.collection_select :reason_id, @reasons, :id, :reason %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
