<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @vacation.day.date_str %>
</p>

<p>
  <strong>Consultant:</strong>
  <%= @vacation.consultant.name %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @vacation.reason.reason %>
</p>

<%= link_to 'Edit', edit_vacation_path(@vacation) %> |
<%= link_to 'Back', vacations_path %>
